Solution_Eva1/Solution.API/obj/
Solution_Eva1/Solution.BS/bin/
Solution_Eva1/Solution.BS/obj/
Solution_Eva1/Solution.DAL.EF/bin/
Solution_Eva1/Solution.DAL.EF/obj/
Solution_Eva1/Solution.DAL.Repository/bin/
Solution_Eva1/Solution.DAL.Repository/obj/
Solution_Eva1/Solution.DAL/bin/Debug/Solution.DAL.EF.dll.config
Solution_Eva1/Solution.DAL/bin/
Solution_Eva1/Solution.DAL/obj/
Solution_Eva1/Solution.DO/obj/
Solution_Eva1/Solution.Maps/bin/
Solution_Eva1/Solution.Maps/obj/
